@page "/browse"

<PageTitle>Browse</PageTitle>

<div style="height: 100%" class="pa-8">
    <div class="d-flex gap-4">
        <TagSearchPanelCollection Style="flex: 3;"
                                  TagSearchPanelChipModels="@_tagSearchPanelChipModels"
                                  ChipModelsChanged="@OnChipModelsChanged" />
        <LTKSearchView Style="flex: 1;"
                       @bind-SelectedLanguage="@SelectedLanguage"
                       @bind-SelectedType="@SelectedType"
                       @bind-TitleSearchKeyword="@TitleSearchKeyword" />
    </div>
    <div class="d-flex justify-space-between align-center" style="position: relative;">
        <div class="d-flex align-center gap-4">
            <MudButton Variant="Variant.Outlined"
                       StartIcon="@Icons.Material.Filled.Sort"
                       Style="height: 56px">
                Sort
            </MudButton>
            <MudNumericField T="int"
                             Label="Items per Page"
                             Variant="Variant.Outlined"
                             Min="1" Max="24"
                             Style="max-width: 160px"
                             @bind-Value="@ItemsPerPage" />
        </div>
        <MudPagination ShowFirstButton ShowLastButton
                       MiddleCount="8"
                       Count="@_numOfPages"
                       Selected="@_pageNum"
                       SelectedChanged="@OnPageNumChanged"
                       Style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
        <MudButton Color="Color.Primary"
                   Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Search"
                   OnClick="@LoadGalleries">
            Browse
        </MudButton>
    </div>
    @if (_isLoading) {
        <div class="d-flex justify-center mt-16">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
        </div>
    } else {
        <MudGrid Spacing="4">
            @foreach (BrowseGalleryDTO gallery in _galleries) {
                <MudItem sm="12" md="6" lg="4" xl="3" xxl="2" Style="overflow-x: clip;">
                    <GalleryBrowseItem Gallery="@gallery" Height="@MIN_ITEM_HEIGHT" />
                </MudItem>
            }
        </MudGrid>
    }
</div>
