@page "/browse"

<PageTitle>Browse</PageTitle>

<div style="height: 100%">
    <div class="d-flex pa-8 gap-4">
        <TagSearchPanelCollection Style="flex: 3;"
                                  TagSearchPanelChipModels="@_tagSearchPanelChipModels"
                                  ChipModelsChanged="@OnChipModelsChanged" />
        <LTKSearchView Style="flex: 1;"
                       @bind-SelectedLanguage="@SelectedLanguage"
                       @bind-SelectedType="@SelectedType"
                       @bind-SearchKeywordText="@SearchKeywordText" />
    </div>
    <div class="d-flex justify-space-between">
        <MudButton Variant="Variant.Outlined"
                   StartIcon="@Icons.Material.Filled.Sort">
            Sort
        </MudButton>
        <MudPagination ShowFirstButton ShowLastButton
                       MiddleCount="8"
                       Count="@_pageCount"
                       Selected="@_page"
                       SelectedChanged="@OnPageNumChanged" />
        <MudNumericField T="int"
                         Label="Items "
                         Variant="Variant.Outlined"
                         Min="1" Max="24"
                         @bind-Value="@ItemsPerPage" />
    </div>
    <MudGrid>
        @foreach (GalleryFullDTO gallery in _galleries) {
            <MudItem xs="12" sm="6" md="4" lg="3" xl="2" xxl="1">
                <GalleryBrowseItem Gallery="@gallery" Height="@MIN_ITEM_HEIGHT" />
            </MudItem>
        }
    </MudGrid>
</div>
