@page "/download"

<PageTitle>Download</PageTitle>

<div style="height: 100%;" class="d-flex gap-8 pa-8">
    <div Style="width: 360px;">
        <MudTextField FullWidth AutoGrow Immediate
                      Variant="Variant.Outlined"
                      T="string"
                      Lines="8"
                      @bind-Value="@_inputText"
                      Placeholder="Enter Gallery ID(s) or URL(s) here. e.g. 2058075, https://hitomi.la/..." />
        <MudButton FullWidth
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   EndIcon="@Icons.Material.Filled.Download"
                   Disabled="@(_inputText.Length == 0)"
                   OnClick="@OnDownloadButtonClick"
                   Class="mt-4">
            Download
        </MudButton>
    </div>
    <MudDivider Vertical />
    <div style="flex: 1;" class="d-flex flex-column gap-4">
        <div class="d-flex gap-4 align-center">
            <MudSwitch T="bool"
                       Label="Parallel Download"
                       Value="@DownloadConfigurationService.Config.UseParallelDownload"
                       ValueChanged="@OnParallelDownloadChanged"
                       Color="Color.Primary"/>
            <MudNumericField T="int"
                             Label="Download Threads"
                             Variant="Variant.Outlined"
                             Min="1" Max="8"
                             Value="@DownloadConfigurationService.Config.ThreadNum"
                             ValueChanged="@OnThreadNumChanged" />
            <MudSpacer />
            <MudButton Color="Color.Primary"
                       EndIcon="@Icons.Material.Filled.Pause">
                Pause all downloads
            </MudButton>
        </div>
        <MudPaper Class="d-flex flex-column gap-4 overflow-y-auto pa-4"
                  Style="flex: 1" Outlined>
            @foreach (DownloadModel model in DownloadManager.Downloads.Values) {
                <DownloadItemView Model="@model" />
            }
        </MudPaper>
    </div>
</div>