@page "/search"
@inject TagService TagService
@inject TagFilterService TagFilterService
@inject SearchFilterService SearchFilterService
@inject GalleryService GalleryService
@inject SearchService SearchService
@inject PageConfigurationService PageConfigurationService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IJSRuntime JsRuntime

<PageTitle>Search</PageTitle>

<div style="height: 100%;" class="d-flex pa-8 gap-4">
    <div id="left-container" style="flex: 3;" class="d-flex flex-column gap-2">
        <MudPaper id="tag-filter-editor-control-panel" Class="pa-8 gap-2" Style="height: 60%; display: grid; grid-template-rows: repeat(3, min-content)">
            <TagFilterEditor @ref="_tagFilterEditor"
                             TagFilters="@TagFilters"
                             SelectedTagFilterChanged="@SelectedTagFilterChanged"
                             OnCreateButtonClicked="@CreateTagFilter"
                             OnRenameButtonClicked="@RenameTagFilter"
                             OnSaveButtonClicked="@(() => SaveTagFilter(_tagFilterEditor.CurrentTagFilter))"
                             OnDeleteButtonClicked="@DeleteTagFilters" />
            <div class="d-flex justify-space-between">
                <div class="d-flex gap-4">
                    <MudButton Color="Color.Primary"
                               EndIcon="@Icons.Material.Filled.Refresh"
                               OnClick="LoadTags"
                               Disabled="@(_tagFilterEditor?.CurrentTagFilter == null)">
                        Reload
                    </MudButton>
                    <MudButton Color="Color.Primary"
                               EndIcon="@Icons.Material.Filled.Clear"
                               OnClick="ClearAllTags"
                               Disabled="@(_tagFilterEditor?.CurrentTagFilter == null)">
                        Clear
                    </MudButton>
                </div>
                <div>
                    <MudSwitch T="bool" Label="Auto save" Color="Color.Primary" @bind-Value="IsAutoSaveEnabled" />
                </div>
            </div>
            <div id="tag-search-chip-set-container"
                 style="border: 1px solid var(--mud-palette-primary); border-radius: inherit;
                        display: grid; grid-template-columns: repeat(@Tag.TAG_CATEGORIES.Length, 1fr); grid-template-rows: 100%">
                @for (int i = 0; i < _tagSearchPanelModels.Length; i++) {
                    <div style="grid-column: @(i + 1);">
                        <TagSearchPanel Model="_tagSearchPanelModels[i]" />
                    </div>
                }
            </div>
        </MudPaper>
        <MudPaper Class="d-flex gap-4 pa-4 overflow-y-auto" Style="height: 40%;">
            <PairedTagFilterSelector @ref="_includePairedTagFilterSelector"
                                     ChipModels="@_includeTagFilterChipModels"
                                     HeaderText="Include"
                                     HeaderColor="Color.Success"
                                     Other="_excludePairedTagFilterSelector"
                                     Style="flex: 1;" />
            <MudDivider Vertical Class="my-4" FlexItem />
            <PairedTagFilterSelector @ref="_excludePairedTagFilterSelector"
                                     ChipModels="@_excludeTagFilterChipModels"
                                     HeaderText="Exclude"
                                     HeaderColor="Color.Error"
                                     Other="_includePairedTagFilterSelector"
                                     Style="flex: 1;" />
        </MudPaper>
    </div>
    <div id="search-filter-control-panel" style="flex: 1;" class="d-flex flex-column gap-2">
        <LTKSearchView @bind-SelectedLanguage="@SelectedLanguage"
                       @bind-SelectedType="@SelectedType"
                       @bind-SearchKeywordText="@SearchKeywordText" />
        <MudStack Row Spacing="2" StretchItems="StretchItems.Start" Class="my-2">
            <MudButton Class="py-2"
                       FullWidth
                       Color="Color.Primary"
                       Variant="Variant.Filled"
                       OnClick="@CreateSearchFilter">
                Create and copy search link
            </MudButton>
            <MudButton Class="py-2"
                       Color="Color.Primary"
                       OnClick="@SearchFilters.Clear"
                       Disabled="@(SearchFilters.Count == 0)">
                Clear
            </MudButton>
        </MudStack>
        <hr class="mud-divider mb-2" />
        <MudStack class="overflow-y-auto" Spacing="2" Style="flex: 1;">
            @foreach (SearchFilterDTO model in SearchFilters) {
                <div style="display: grid; grid-template-columns: 1fr min-content; gap: 4px;">
                    <SearchFilterView Model="@model"></SearchFilterView>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   Disabled="@(model.Id == 0)"
                                   OnClick="@(() => DeleteSearchFilter(model))"
                                   Style="height: min-content; margin: auto;" />
                </div>
            }
        </MudStack>
    </div>
</div>