@*
<MudAnimate Selector="@("#" + DOWNLOAD_ITEM_ID_PREFIX + Model.GalleryId)"
            AnimationType="AnimationType.Fade"
            AnimationTiming="AnimationTiming.EaseIn"
            AnimationDirection="AnimationDirection.Reverse"
            AnimationFillMode="AnimationFillMode.Forwards"
            Duration="@DELETE_ANIMATION_DURATION"
            Paused=@Model.DeleteAnimationPaused
            />

*@
<MudPaper id="@(DOWNLOAD_ITEM_ID_PREFIX + Model.GalleryId)"
          Class="d-flex pa-4 gap-4" Outlined>
    <div style="width: 240px;">
        <MudText>@Model.GalleryId</MudText>
        <MudText>@Model.Gallery?.Title</MudText>
    </div>
    <div class="align-self-end" style="flex: 1;">
        <MudProgressLinear Color="Color.Primary"
                           Value="@Model.Progress"
                           Min="0"
                           Max="@(Model.Gallery == null ? 0 : Model.Gallery.ImageCount)"
                           Class="mb-1" />
        <div class="d-flex">
            <MudText Style="flex: 1 1 auto;">@Model.StatusMessage</MudText>
            <MudText Style="white-space: nowrap;">@(Model.Progress.ToString() + "/" + (Model.Gallery == null ? "-" : Model.Gallery.ImageCount.ToString()))</MudText>
        </div>
    </div>
    <div style="width: 120px;" class="d-flex gap-4 align-center">
        <MudIconButton Icon="@ControlButtonIcon"
                       Disabled="@(_isWaitingResponse || Model.Status is DownloadStatus.Completed or DownloadStatus.Deleted)"
                       OnClick="@OnActionButtonClick" />
        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                       Disabled="@(_isWaitingResponse || Model.Status is DownloadStatus.Completed or DownloadStatus.Deleted)"
                       OnClick="@OnDeleteButtonClick" />
    </div>
</MudPaper>