<MudPaper style="display: grid; grid-template-columns: 240px auto 120px" class="pa-4 gap-4" Outlined >
    <div>
        <MudText>@ViewModel.GalleryId</MudText>
        <MudText>@ViewModel.Gallery?.Title</MudText>
    </div>
    <div class="align-self-end">
        <MudProgressLinear Color="Color.Primary"
                           Value="@ViewModel.Progress"
                           Min="0"
                           Max="@(ViewModel.Gallery == null ? 0 : ViewModel.Gallery.GalleryImagesCount)"
                           Class="mb-1" />
        <div class="d-flex">
            <MudText Style="flex: 1 1 auto;">@ViewModel.StatusMessage</MudText>
            <MudText Style="white-space: nowrap;">@(ViewModel.Progress.ToString() + '/' + (ViewModel.Gallery == null ? 0 : ViewModel.Gallery.GalleryImagesCount).ToString())</MudText>
        </div>
    </div>
    <div class="d-flex gap-4">
        <MudIconButton Icon="@ControlButtonIcon"
                       Disabled="@(ViewModel.Status is DownloadStatus.Pending or DownloadStatus.Completed)"/>
        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                       OnClick="@(() => DownloadService.RemoveDownload(ViewModel.GalleryId))" />
    </div>
</MudPaper>