<MudPopover Class="@Class" Open=@Open AnchorOrigin="@AnchorOrigin" TransformOrigin="@TransformOrigin" >
    <div class="d-flex flex-column pa-4">
        <MudText>@ContentText</MudText>
        <MudButton OnClick="@OnButtonClick"
                   Color="Color.Primary"
                   Class="align-self-end">
            @ButtonText
        </MudButton>
    </div>
</MudPopover>