<div class="ltk-search-view d-flex flex-column gap-2 @Class" style="@Style">
    <MudSelect Label="Language"
               T="GalleryLanguageDTO"
               ToStringFunc="@(l => l.LocalName)"
               FullWidth
               Variant="Variant.Outlined"
               Value="@SelectedLanguage"
               ValueChanged="@SelectedLanguageChanged">
        @foreach (GalleryLanguageDTO l in LanguageTypeService.Languages) {
            <MudSelectItem Value="@l" />
        }
    </MudSelect>
    <MudSelect Label="Type"
               T="GalleryTypeDTO"
               ToStringFunc="@(t => t.Value)"
               FullWidth
               Variant="Variant.Outlined"
               Value="SelectedType"
               ValueChanged="@SelectedTypeChanged">
        @foreach (GalleryTypeDTO t in LanguageTypeService.Types) {
            <MudSelectItem Value="@t" />
        }
    </MudSelect>
    <MudTextField T="string"
                  Label="Additional keywords"
                  Variant="Variant.Outlined"
                  Text="@TitleSearchKeyword"
                  ValueChanged="@TitleSearchKeywordChanged"
                  Clearable />
</div>