@inherits ChipSetBase<TValue>
@typeparam TValue

<div style="height: 100%; display: grid; grid-template-rows: auto 1fr;">
    <MudAutocomplete T="TValue"
                     Label="@Model.Label"
                     DebounceInterval="500"
                     SearchFunc="@Model.SearchFunc"
                     ToStringFunc="@Model.ToStringFunc"
                     Clearable="true"
                     AdornmentIcon="@Icons.Material.Filled.Search"
                     ShowProgressIndicator="true"
                     @bind-Value="@SearchValue"
                     Color="@Color.Primary"
                     Style="grid-row: 1; width: 90%; margin: auto;">
    </MudAutocomplete>
    <MudChipSet T="@(ChipModel<TValue>)"
                SelectionMode="SelectionMode.MultiSelection"
                SelectedColor="@Color.Primary"
                Variant="@Variant.Filled"
                Style="grid-row: 2; overflow-y: auto;">
        @foreach (ChipModel<TValue> model in Model.ChipModels) {
            <MudChip T="@(ChipModel<TValue>)"
                     Value="@model"
                     OnClose="@HandleClosed"
                     OnClick="@((arg) => HandleChipClick(model))"
                     @key="model"
                     id="@model.Id">
                @Model.ToStringFunc(model.Value)
            </MudChip>
        }
    </MudChipSet>
</div>