<a class="search-filter" href="@Model.SearchLink" target="_blank">
    <table style="border-collapse: collapse;">
        <tbody>
            <tr>
                <td><MudText Typo="Typo.button">Language</MudText></td>
                <td>@Model.Language.LocalName</td>
            </tr>
            <tr>
                <td><MudText Typo="Typo.button">Type</MudText></td>
                <td>@Model.Type.Value</td>
            </tr>
            @foreach (LabeledTagCollection collection in Model.LabeledTagCollections)
            {
                <tr>
                    <td><MudText Typo="Typo.button">@collection.Category.ToString()</MudText></td>
                    <td class="d-flex flex-wrap gap-1">
                        @foreach (TagDTO tag in collection.IncludeTags)
                        {
                            <span style="background-color: var(--mud-palette-success); color: var(--mud-palette-error-text);" class="rounded px-1">@tag.Value</span>
                        }
                        @foreach (TagDTO tag in collection.ExcludeTags)
                        {
                            <span style="background-color: var(--mud-palette-error); color: var(--mud-palette-success-text);" class="rounded px-1">@tag.Value</span>
                        }
                    </td>
                </tr>
            }
            @if (Model.SearchKeywordText.Length > 0)
            {
                <tr>
                    <td><MudText Typo="Typo.button">Keywords</MudText></td>
                    <td>@Model.SearchKeywordText</td>
                </tr>
            }
        </tbody>
    </table>
</a>