@inherits ChipSetBase<TagDTO>

<div style="display: grid; grid-template-rows: auto 1fr; max-height: 100%">
    <MudAutocomplete T="TagDTO"
                     Label="@Model.Label"
                     DebounceInterval="500"
                     SearchFunc="@Model.SearchFunc"
                     ToStringFunc="@Model.ToStringFunc"
                     Clearable="true"
                     AdornmentIcon="@Icons.Material.Filled.Search"
                     ShowProgressIndicator="true"
                     @bind-Value="@SearchValue"
                     Color="@Color.Primary"
                     Style="width: 90%; margin: auto; grid-row: 1;">
    </MudAutocomplete>
    <MudChipSet T="@(ChipModel<TagDTO>)"
                SelectionMode="SelectionMode.MultiSelection"
                SelectedColor="@Color.Primary"
                Variant="@Variant.Filled"
                Style="overflow-y: auto; grid-row: 2;">
        @foreach (ChipModel<TagDTO> model in Model.ChipModels) {
            <MudChip T="@(ChipModel<TagDTO>)"
                     Value="@model"
                     OnClose="@HandleClosed"
                     @key="model"
                     id="@model.Id">
                @Model.ToStringFunc(model.Value)
            </MudChip>
        }
    </MudChipSet>

</div>