@inject IJSRuntime JSRuntime
@inject TagService TagService

<div style="grid-column: @GridColumn; display: grid; grid-template-rows: auto 1fr; max-height: 100%;" class="tag-search-panel">
    <MudAutocomplete T="TagDTO"
                     Label="@Category.ToString()"
                     DebounceInterval="500"
                     SearchFunc="@Search"
                     ToStringFunc="@(tag => tag.Value)"
                     Clearable="true"
                     AdornmentIcon="@Icons.Material.Filled.Search"
                     ShowProgressIndicator="true"
                     @bind-Value="@SearchValue"
                     Style="width: 90%; margin: auto; grid-row: 1;">
    </MudAutocomplete>
    <MudChipSet T="@(ChipModel<TagDTO>)"
                SelectionMode="SelectionMode.MultiSelection"
                SelectedColor="Color.Primary"
                Variant="@Variant.Filled"
                Style="overflow-y: auto; grid-row: 2;">
        @foreach (ChipModel<TagDTO> model in ChipModels) {
            <ColorCorrectedChip T="TagDTO"
                                Model="@model"
                                ToStringFunc="@(m => m.Value.Value)"
                                OnClose="@HandleClosed" />
        }
    </MudChipSet>

</div>